// variaveis de cor
$cinza: #dbdbdb;
$cinza-escuro: #969696;
$cinza-quase-escuro: #c0c0c0;
$amarelo: #f6c31b;

// variaveis de fonte
$roboto: 'Roboto', sans-serif;

// variaveis de tamanho
$menu: 10px;
$submenu: 20px;
// ESTILO DO MENU INICIAL
.menu-principal{ // estilo geral do menu
	position: fixed;
	height: 100vh;
	width: 200px;
	background-color: $cinza;
	font-family: $roboto;
	text-transform: uppercase;
	letter-spacing:2px;
	z-index: 100;

	.logo{
			background: $amarelo;
			height: 75px;

			img{
				z-index: 150;
				position:absolute;
			}

		}
	nav{
		cursor: pointer;
		.navbar-item{ //item do menu geral
			border-bottom: 1px dashed black;
			padding: 7px $menu;
			font-size: 12pt;
			z-index: inherit;
			transition: height .3s ease-out;

			&:hover{
				background-color:$cinza-quase-escuro;
			}

		}
		.subnav-item{ //subitem (itens dentro dos itens) do menu geral
			background-color: white;
			padding: 3px;
			padding-left: $menu * 2;
			font-size: 10pt;
			width: 198px;
			z-index: inherit;

			&:before{
				content: '-';
				padding-right: 3px;
			}
			&:hover{
				background-color: $cinza-escuro;
			}
		}
	}
} // fim do menu principal

//menu escondido
.secondmenu{
	background-color: rgba(0,0,0,.3);
	z-index: 90;
	position:fixed;
	top: 0;
	left: 200px;
	height: 100vh;
	color: white;
	padding: 40px 0;
	transform: translate(-200px, 0);
	transition: ease-in-out .3s;

	h3{ //titulo menu escondido
		border-bottom: 3px solid white;
		padding: 5px 10px;
		font-size: 14pt;
		letter-spacing: 2px;
		margin: 0 ($submenu - 5px);
	}
	.secondmenu-item{ //item do menu escondido
		margin-top: 7px;
		text-transform: capitalize;
		padding-left: $submenu + 15px;

		&:hover{
			background-color: $amarelo;
			color: black;
		}
	}
} //fim do menu escondido
.translate{
	visibility: visible;
	transform: translate(0,0) !important;	
	transition: ease-in-out .3s;
}
.esconder{
	visibility: hidden;
}
.esconder-total{
	visibility: hidden;
	width: 0;
	height: 0;
}

